<!DOCTYPE html>
<html>
<head>
  <title>Jeffs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1><%= image_tag 'jeff.jpg' %></h1>
  <h1>Jeff's Store - <%= Rails.env.to_s %></h1>
  <h2>We Only Sell Candy and Hockey Memorabilia</h2>
  <h3><%= link_to 'Products', root_path %> | <%= link_to 'Cart', cart_items_path %></h3>
  <hr/>
  <%= yield %>
</div>

</body>
</html>
